body {
  margin: 50px;
}

.block {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px;
  grid-gap: 6px;
  background-color: #fff;
  color: #444;
}

.charbox {
  background-color: #55A8B0;
  color: #fff;
  border-radius: 0px;
  padding: 20px;
  font-family: Lato;
  font-size: 175%;
  text-align: center;
  font-weight: bold;
}
